:root {
  --primary-color: #f1961f;
  --light-color: white;
  --semilight-color: #f2f2f2;
  --dark-color: #333;
  --max-width: 1280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.55rem 0;
  line-height: 1.5rem;
  font-weight: 750;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.my-1 {
  margin: 1rem 0rem;
}

.my-2 {
  margin: 2rem 0rem;
}

.my-3 {
  margin: 3rem 0rem;
}

.my-4 {
  margin: 4rem 0rem;
}
.text-center {
  text-align: center;
}
.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}
.bottom-line {
  height: 2px;
  width: 3rem;
  background: var(--primary-color);
  display: block;
  margin: 0 auto 1rem auto;
}
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #555 dotted 1px;
  width: 90%;
}

.list li a {
  transition: 0.2s;
}

.list li a:hover {
  color: var(--primary-color) !important;
}

/* Button */
.button,
.button-light {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #000;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
}

.button-light {
  background-color: var(--light-color);
}

.button:hover,
.button-light:hover {
  opacity: 0.9;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  color: var(--light-color);
  opacity: 0.9;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  z-index: 2;
  transition: 0.25s ease-in;
}

.navbar.top {
  background: transparent;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: var(--primary-color) 2px solid;
}

#logo {
  border: none;
  width: 180px;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
}
#logo img {
  margin-top: 10px;
  max-width: 80%;
  max-height: 80%;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  height: 70px;
}

/* Header */
.hero {
  background: url('../img/home_cover.JPG') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
  /* background-attachment: fixed; */
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
  z-index: 1;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
  z-index: 1;
}

.hero .content .btn {
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

/* About */
#home-about {
  padding-top: 2rem;
  background-color: var(--semilight-color);
}

#home-about .opportunity {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10rem;
  text-align: center;
}

#home-about .opportunity-card {
  width: 300px;
}

#home-about .opportunity-icon {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 50%;
  background: #333;
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  position: relative;
  transition: all 1s;
}
#home-about .opportunity-icon:hover {
  background: var(--primary-color);
}

#home-about h2 {
  margin-top: 2rem;
}

/* Join Us */
#home-join {
  background: url('../img/board.jpg') no-repeat center center/cover;
  /* background-attachment: fixed; */
  height: 70vh;
  position: relative;
  color: #fff;
}

#home-join .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
  color: var(--primary-color);
}

#home-join::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
#home-join .content h1 {
  padding-top: 25vh;
  padding-bottom: 2vh;
  font-size: 55px;
  z-index: 1;
}

#home-join .content a {
  /* font-size: 23px;
  max-width: 600px; */
  margin: 20px 0 30px;
  z-index: 1;
}

/* Pillars */

#home-pillars {
  padding-top: 2rem;
  background-color: var(--semilight-color);
}

#home-pillars .pillar-card {
  background-color: white;
  border: 1px dotted var(--dark-color);
  display: inline-block;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 10px;
  box-sizing: border-box;
}
#home-pillars .pillar-card .head {
  font-size: 1.5rem;
}

#home-pillars .pillar-card .pillar-image {
  float: left;
  width: 50%;
  height: 100%;
  padding: 1rem;
}

#home-pillars .pillar-card .pillar-image img {
  max-width: 100%;
  max-height: 100%;
}

#home-pillars .pillar-card .pillar-description {
  float: left;
  width: 50%;
  padding: 1rem;
  line-height: 1.7;
}

/* Images */
#home-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 33vh);
  grid-gap: 2px;
  grid-template-areas:
    'img1 img1 img2 img3 img3'
    'img4 img5 img5 img6 img9'
    'img7 img7 img8 img8 img9';
  object-fit: cover;
}

#home-images .grid-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#home-images #grid-img-1 {
  grid-area: img1;
}
#home-images #grid-img-2 {
  grid-area: img2;
}
#home-images #grid-img-3 {
  grid-area: img3;
}
#home-images #grid-img-4 {
  grid-area: img4;
}
#home-images #grid-img-5 {
  grid-area: img5;
}
#home-images #grid-img-6 {
  grid-area: img6;
}
#home-images #grid-img-7 {
  grid-area: img7;
}
#home-images #grid-img-8 {
  grid-area: img8;
}
#home-images #grid-img-9 {
  grid-area: img9;
}

/* Footer */
#main-footer {
  background: var(--light-color);
  color: var(--dark-color);
}
#main-footer img {
  width: 150px;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
  background: var(--semilight-color);
  grid-column: 1 / span 4;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}

#main-footer .footer-container input[type='email'] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit'] {
  color: var(--light-color);
  background-color: var(--dark-color);
  width: 90%;
  padding: 0.4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#main-footer .footer-container .social {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

#main-footer .footer-container .social .fab {
  background-color: black;
  color: white;
  border-radius: 50%;
  margin-right: 1rem;
  text-align: center;
  padding: 0.5rem;
  transition: 0.2s;
}
#main-footer .footer-container .social .fab:hover {
  background-color: var(--primary-color);
}
